<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= __("manageusers") %></title>
</head>
<body>
  <h1><%= __("allusers") %></h1>
  <table border ="1">
    <thead>
      <tr>
        <th><%= __("username") %></th>
        <th><%= __("role") %></th>
      </tr>
    </thead>
    <tbody>
      <% users.forEach(user => { %>
        <tr>
          <td><%= user.username %></td>
          <td><%= user.admin ? "Admin" : "User" %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
  <a href="/home"><%= __("home") %></a>
</body>
</html>
