<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title><%= __("title") %></title>
</head>

<body>
    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
        th, td {
          padding: 15px;
        }
        </style>
        <h1>
          <%= __("success") %>
        </h1>
        <%- table %>

    <a href="./cc"><%= __("title") %></a>
    <a href="./home"><%= __("home") %></a>
</body>

</html>
