<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title><%= __("title") %></title>
  <link href="/styles.css" rel="stylesheet">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
  </style>
</head>

<div id="headerMainDiv">
  <div id = "leftHalfHeader">
    <svg 
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="#ffffff"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <line x1="12" y1="1" x2="12" y2="23" />
      <path d="M17 5H9.5a3.5 3.5 0 000 7h5a3.5 3.5 0 010 7H6" />
    </svg>
    <h1 id = "headerTitle">Currency Converter</h1>
  </div>
  <div id = "rightHalfHeader">
    <a class="active" href="/home">Home</a>
    <a href="/cc">Converter</a>
    <a href="/admin">Admin</a>
  </div>
</div>

<body>
    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
        th, td {
          padding: 15px;
        }
        </style>
    <h1><%= __("title") %></h1>
    <%- availCurrencyTable %>
    <a href = "./cc"><%= __("convert") %></a>
    <form action="/logout" method="POST">
        <button type="submit"><%= __("logout") %></button>
      </form>
</body>

</html>