<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title><%= __("register") %></title>
</head>

<body>
    <h1><%= __("register") %></h1>
    <form action="./register" method="post">
        <label><%= __("username") %>: <input type="text" name="username" id = "username" required/></label>
        <label><%= __("password") %>:
            <input type="password" name="password" id = "password" required/>
        </label>
        <input type="reset"/>
        <input type="submit" value="<%= __('register') %>"/>
    </form>
</body>

</html>
